/* estilo.css */
* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: rgb(0, 0, 0);
    min-height: 0px;
    color: #999;
    padding: 20px;
}

header {
    background-color: rgb(252, 252, 252);
}

nav {
    min-height: 90px;
    margin-bottom: 0 !important;
}

#main {
    padding: 50px;
    background: linear-gradient(135deg, #ffc4cd 5%, #f3e29d 50%, #f22bb99a 90%, #000000d7 110%);
}

#main img {
    max-height: 400px;
}

#middle {
    margin: 50px 0;
}

#logo {
    margin: 20px 0;
}

.lista_footer {
    margin-top: 35px;
}

.link_menu {
    margin-top: 20px;
}

.link_menu a {
    color: #b46f15 !important;
    padding: 10px;
}

.link_menu a:hover {
    background-color: #c0483d !important;
    color: #111 !important;
}

.center {
    text-align: center
}


.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
  
}
.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
       color: #5543ca;
      background: #5543ca;
      background: -moz-linear-gradient(left,#f44de1  0%,#5543ca 100%) !important;
      background: -webkit-linear-gradient(left,#f44de1  0%,#5543ca 100%) !important;
      background: linear-gradient(to right,#f44de1  0%,#5543ca  100%) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
}
  
.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus {
    outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
}
.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
     background-image: linear-gradient(125deg,#a72879,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
}
